---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/media/husband-and-wife.jpg" alt="Picture of the happy couple at their wedding" width="330">
      <figcaption>
        You only get one
      </figcaption>
    </figure>
    <p>
      My love of programming started at an early age. In third grade, my
      friend Sam and I tried to memorize the alphabet in binary out of a
      Farmers’ Almanac (we were sure it would come in handy).
    </p>
    <p>
      Later, I learned how variables, loops, and other basic (or BASIC
      😉) programming concepts from a Windows 95 game by Interplay
      called
      <a href="https://www.youtube.com/uBYz9syhNAA" target="_blank" rel="noopener">
        &lsquo;Learn to Program BASIC&lsquo;.
      </a>
      I would carry around a notebook to scribble JavaScript in to try
      out when I got home from school (and make cool cursor trails on my
      MySpace page).
    </p>
    <p>
      I spent the next two decades as what I would call a &lsquo;hobby
      technologist&lsquo;, experimenting with gadgets and gizmos,
      building automations using exisiting tooling. I persued careers in
      music and restaurants before coming back to relearn programming
      and finding my way into the industry.
    </p>
    <p>
      Today, I build full-stack web applications using a variety of
      technologies, mostly centered around the .NET and Typescript
      ecosystems with an emphasis on embracing modern web APIs. I&apos;m
      a contributor to open source projects such as
      <a href="https://astro.build/" target="_blank" rel="noopener">Astro</a> and
      <a href="https://redwoodjs.com/" target="_blank" rel="noopener">RedwoodJS</a>, and
      love sharing what I&apos;ve learned by speaking at local meetups
      and conferences such as
      <a href="https://www.meetup.com/rva-js/" target="_blank" rel="noopener">RVA.js</a>
      and
      <a href="https://rvasdug.org/" target="_blank" rel="noopener">RVASDUG</a>.
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 600px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
